.product-image {
    cursor: pointer;
    transition: transform .2s;
}

.product-image:hover {
    transform: scale(1.5);
}

.cancel {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
}

.cancel:hover {
    background: red;
    color: white;
}

.add {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: blue;
    color: white;
}

.clear {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    cursor: pointer;
    background: red;
    color: white;
}

.bi-trash-fill {
    cursor: pointer;
}

.bi-trash-fill:hover {
    fill: red;
}

.printbutton {
    font-size: 1.2rem;
    color: #000;
    width: 100%;
    border: none;
    border-radius: 4px;
    height: 5vh;
    border-radius: 50px;
    border: 1px solid rgb(19, 19, 19);
}

.printbutton:hover {
    background-color: #4a154b;
    color: #fff;
    border: none;
}