.product-image {
    transition: transform .2s;
    width: 10%;
}

.product-image:hover {
    transform: scale(1.5);
}

.add {
    background: blue;
    color: #fff;
}

.clear {
    background: red;
    color: #fff;
}

.bi-trash-fill:hover {
    fill: red;
}

.printbutton {
    color: #000;
    height: 5vh;
}

.printbutton:hover {
    background-color: #4a154b;
    color: #fff;
    border: none;
}