.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.singleproduct-image {
    width: 15%;
    transition: transform .2s;
}

.star-icon {
    color: orange;
}

.image-container {
    background-color: #f0f0f0;
    padding: 25px;
}

.product-description {
    color: grey;
}

.starfill-icon {
    color: #FFD700;
}

.staroutline-icon {
    color: #ccc;
}

.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in-out;
}

.zoomable-image {
    max-width: 100%;
    max-height: 100%;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.zoomed-in {
    transform: scale(2);
}
.user-comment{
    font-size: 14px;
    color: #565959  
}
.expand{
    color: #007185;
    font-size: 13px;
}
.expand:hover{
    text-decoration: underline;
}
.expand-more{
    font-size: 14px;
    font-weight: bold;
    color: #007185;
}
.expand-more:hover{
    text-decoration: underline;
}