.product-card {
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.singleproduct-image {
    width: 15%;
    transition: transform .2s;
}

.star-icon {
    color: orange;
}

.image-container {
    background-color: #f0f0f0;
    padding: 25px;
}

.product-description {
    color: grey;
}

.starfill-icon {
    color: #FFD700;
}

.staroutline-icon {
    color: #ccc;
}

